page-home {

	p {
		font-size: 1.1em;
		line-height: 2em;
	}

    ion-item {
        width: 92%;
        margin: 4%;
        padding-left: 10px !important;
        margin-bottom: 10px;
        background-color: #fff;
        opacity: 0.7;
        font-size: 0.9em;
    }

}
